.badge{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    
    &--red{
      background-color: red;
    }
    &--green{
      background-color: green;
    }
    &--blue{
      background-color: blue;
    }
    &--pink{
      background-color: pink;
    }
}