*{
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto'; 
}

body {
  margin: 0;
  font-family: 'Roboto' -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.todo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  border: 1px solid;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 11px #ececec;
  border-radius: 10px;
  border: 1px solid #f4f6f8;
  font-size: 14px;

  &_sidebar{
    background-color: #f4f6f8;
    width: 200px;
    height: calc(100% - 120px);
    padding: 60px 20px;
  }
  
}